<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio en Clase</title>
</head>
<body>
    <H1>HTML</H1>
    <H2>Listas y Tablas en HTML</H2>
    <br>
    <P>actividad</P>
    <br>

    <table>
        <tr>
            <ol>Don Quijote - Miguel de Cervantes</ol>
            <ol>Cien años de Soledad - Gabriel Garcia Marques</ol>
        </tr>
    </table>

    <br>

    <table>
        <tr>
            <td>Día</td>
            <td>Hora</td>
        </tr>
        <tr>
            <td>Lunes-Viernes</td>
            <td>08:00 - 18:00</td>
        </tr>
    </table>
</body>
</html>